
// Edit Act

.edit-act {
  font-size: 1.5rem;
  .screens {
    display: flex;
    .bookmarks {
      width: 218px;
      background-color: #4c4b4b;
      .subtitle {
        color: white;
        text-align: center;
      }
    }
    .screen {
      flex-grow: 1;
      padding: 20px 0px 20px 40px;
    }
  }
  .section-title {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
  }
  .setting {
    padding: 20px 0px 20px 40px;
  }
  .section-body {
    padding-left: 40px;
  }
}

.num-input-wrapper {
  .form-control{
    display: inline-block;
    width: 60px;
  }
}

.form-control-auto .form-control{
  width: auto;
}

.weekday {
  display: flex;
  width: 350px;
  flex-flow: row wrap;
  box-sizing: content-box;
  .cell {
    width: 50px;
    text-align: center;
    &.selected {
      background-color: #aad;
    }
    cursor: pointer;
  }
  &.bordered {
    border: solid 1px black;
  }
}