.navbar-default {
  &.navbar-blue {
    color: white;
    background: #0067A0;
  }
  .navbar-brand, .navbar-nav > li > a {
    color: white;
    font-size: 1.25rem;
    font-weight: lighter;
  }
  .navbar-brand {
    text-transform: uppercase;
    
  }
}

.modal-header{
  color: white;
  background: #0067A0;
}