html, body {
  font-size: 18px;
}

h1 {
  font-size: 1.25rem;
}

label {
  font-weight: normal;
}
form {
  .form-label {
    font-size: 1rem;
  }
  label {
    margin-bottom: 0px;
  }
}

.disabled, .disabled:hover, .disabled:active, span.disabled, span.disabled:hover, span.disabled:active, div.disabled, div.disabled:hover, div.disabled:active {
  color:lightgrey;
  font-style: italic;
}
