.users-table {
  th, td {
    padding: 0px 20px 20px 0;
  }
  th {
    color: #0067A0;
  }
}
.search-box {
  max-width: 600px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.modal-table {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  position: absolute;
}

.users-by-viewer__container {
  z-index: 10;
}

.users-by-viewer {
  border-left: 1px solid #777;
  background-color: white;
}

.add-users-by-viewer {
  width: 500px;
  .table-wrapper {
    overflow-x: scroll;
  }
}

.viewers-by-user__container {
  z-index: 10;
  padding-top: 120px;
}